/* 
TASK: Create 4 different custom vars and apply to the webpage
Try to have both local and global vars.
*/

:root {
    --white: #fefafa;
    --blue: #5a5acf;
    --aqua: rgb(102, 255, 255);
    --pink: #de10ae;
}

body {
    background-color: var(--blue);
    --position: center;
}

h1 {
    color: var(--white);
    text-align: var(--position);
}

h2 {
    color: var(--aqua)
}

/* 
TASK: insert an div in HTML page
give animation to the image in square
*/


.animation {
    width: 100px;
    height: 90px;
    background-color: var(--pink);
    animation-name: divanimation;
    animation-duration: 4s;
    position: relative;
    /* animation-delay: 2s; */
    animation-iteration-count: 3;
}


@keyframes divanimation {
    0% {background-color: #de10ae; left: 0px; top: 0px;}
    20% {background-color: var(--white); left: 200px; top: 0px;}
    50% {background-color: bisque; left: 200px; top: 200px;}
    75% {background-color: rgb(23, 150, 76); left: 0px; top: 200px;}
    100% {background-color: var(--pink); left: 0px; top: 0px;}
}







